@model Biblioteca.Models.Alquiler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alquiler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lector.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lector.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libro.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libro.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlquilerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
