@model IEnumerable<Biblioteca.Models.Alquiler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ejemplar.EjemplarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lector.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ejemplar.EjemplarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lector.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlquilerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlquilerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlquilerId })
        </td>
    </tr>
}

</table>
