@model IEnumerable<Biblioteca.Models.Editorial>

@{
    ViewBag.Title = "Editoriales";
}

<h2>Listado de Editoriales</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "Create",null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EditorialId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.EditorialId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.EditorialId }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
