@model IEnumerable<Biblioteca.Models.Ejemplar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroEjemplar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroEjemplar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EjemplarId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EjemplarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EjemplarId })
        </td>
    </tr>
}

</table>
